name: build

on:
  push:
    branches: [ master, release ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'   # ou 8 selon ton Spring Boot
          distribution: 'temurin'
          cache: maven

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build & Push Docker Image
        run: |
          mvn spring-boot:build-image \
            -Dspring-boot.build-image.imageName=${{ secrets.DOCKER_USER }}/spring-auth-thymleaf:${{ github.sha }} \
            -Dspring-boot.build-image.publish=true \
            -DskipTests
